services:
  broker:
    build: .
    container_name: broker
    command: ["./broker"]
    ports:
      - "1883:1883"

  producer:
    build: .
    container_name: producer
    command: ["./producer"]
    depends_on:
      - broker

  consumer:
    build: .
    container_name: consumer
    command: ["./consumer"]
    depends_on:
      - broker
