version: "3.8"

services:
  broker:
    build: ./broker
    container_name: broker
    ports:
      - "1883:1883"

  producer:
    build: ./producer
    container_name: producer
    depends_on:
      - broker
